<div class="container-fluid body">
  <div class="row title-row">
    <div class="col-2"></div>
    <div class="col-8 title-box-bg">
      <div class="title-box">
        <h1>Dirty Document Denoising</h1>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row main-row">
    <div class="col-4"></div>
    <div class="col-4 d-flex justify-content-center">
      <button *ngIf="!denoising" id="upload-btn" mat-raised-button (click)="openUploadWindow()">
        <h4>Denoise Images</h4>
        <i class="fa fa-upload fa-2x" aria-hidden="true"></i>
      </button>
      <div class="container-fluid" *ngIf="denoising">
        <div class="row justify-content-center">
          <mat-progress-spinner class="progress-spinner"
                                [color]="'warn'"
                                [mode]="'indeterminate'"
                                [value]="100"
                                >
          </mat-progress-spinner>
        </div>
        <div class="row justify-content-center">
          <h4 class="denoising-msg">denoising {{ fileName }} ...</h4>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
